.navbar {
  background-color: #5a6167 !important;
}

.nav-link, .navbar-brand {
  color: white !important;
}

.container-fluid {
  text-align: center !important;
}

.links {
  text-align: center;
}

.btn {
  width: 15em;
  height: 4em;
  margin-top: 5em;
}

.btn:hover {
  box-shadow: 4px 4px 3px black;
  background-color: white !important;
  color: #5a6167 !important;
}


p {
  text-indent: 50px;
}